@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),url(../images/front.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
 nav img{
    position: relative;
    height: 60px;
    width: 70px;
 }
 .top-bar{
    flex: 1;
    text-align: right;
 }
 .top-bar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 }

 .top-bar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
 }
 .top-bar ul li a:hover{
    color: black;
 }
 .active{
    color: black;
}
.text-box{
    width: 90%;
    color: #fef9f3;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 40px;
}
.text-box p{
    margin: 2px 0 10px;
    font-size: 18px;
}
.btn{
    display:inline-block;
    padding: .5rem 1rem;
    background-color: rgba(255,255,255,.3);
    border-radius: 4rem solid beige;
    color: beige;
    transition: .3s;
}