@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
.container{
    width: 100%;
    height: 40vh;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6));
    background-position: center;
    background-size: cover;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
 nav img{
    position: relative;
    height: 60px;
    width: 70px;
 }
 .top-bar{
    flex: 1;
    text-align: right;
 }
 .top-bar ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 }

 .top-bar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
 }
 .top-bar ul li a:hover{
    color: black;
 }
 .active{
    color: black;
}
.text-box{
    width: 90%;
    color: silver;
    position: absolute;
    top: 20%;
    left: 50%;
    padding-top: 5%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 40px;
}
table,th,tr,td{
    border: 1px solid rgb(19, 18, 18);
}
.table{
    padding-top: 5%;
    align-items: center;
}
.reg_artifacts{
    padding-left: 2%;
    padding-top: 3%;
}
.reg_artifacts button{
    background-color: gray;
    height: 30px;
    width: 190px;
}
.btn-warning{
    background-color: rgba(11, 11, 249, 0.463);
}
.btn-danger{
    background-color: rgba(255, 0, 0, 0.599);
}
.btn{
    display:inline-block;
    padding: .5rem 1rem;
    background-color: rgba(255,255,255,.3);
    border-radius: 4rem solid gray;
    color: black;
    transition: .3s;
    align-items: center;
}
